dist
build
*.egg-info
data/*
data/scenes/
.vscode
__pycache__
trained_models/*/*
out
*.txt
*.png
tb_*
*.json
*.tar
*.log
*.csv

venv_*
# Allow
!requirements.txt
!default.json
!online_learning.json
!online_learning.tar
!best_config.json
!best_model.tar
!tb_logs/best_model/
!data/scenes/ZAM_Tjunction-1_153_T-1.xml
!data/sc_imgs_small/*
!data/small.txt
!data/online_learning_scenarios.txt
!data/online_learning_test_scenarios.txt
!images/*


